//colors
$darkdarkBlue:rgb(61, 67, 142);
$darkBlue: hsl(233,26%, 24%);
$headerdarkBlue: rgb(71, 78, 128);
$darklightBlue: rgba(45, 49, 77, 0.72);
$lightBlue: hsl(210, 34%, 49%);
$lightlightBlue:hsl(210, 44%, 62%);
$medBlue: #486179;
$green: hwb(136 29% 24%);
$lightGreen: hsl(104, 67%, 76%);
$darkGray: rgb(68, 67, 67);
$purple: rgb(96, 103, 154);
$blue: rgb(194, 214, 239);
$footer: rgb(174, 193, 219);
$footerh1: hsl(0, 43%, 97%);
$footertext: hsl(0, 0%, 95%);
$redish: rgb(232, 210, 210);

//Neutral

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$lightGray: hsl(0, 5%, 92%);
$white: hsl(0, 0%, 100%);

//font Sizes
$font-sm: 0.875rem; //14pt
$font-med: 1.125rem; //18pt