.whatyouwaitingfor{

    &__container{
        text-align: center;
        height: 40rem;
        background-color: $redish;
        margin-bottom: 30px;
        
        //color: red;
        h1{
            padding-top: 8rem;
            padding-left: 5rem;
        }
    }
}